@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  scroll-behavior: smooth;
}

p {
  @apply px-4 md:p-0 text-[15px] md:text-[18px] text-left mt-4 sm:mt-6 lg:mt-10 tracking-wide max-w-[900px] lg:min-w-[900px];
}

h2 {
  @apply text-xl md:text-3xl font-semibold lg:font-bold tracking-wider;
}

h3 {
  @apply text-[16px] md:text-[20px] font-semibold text-center text-orange-400 mt-4 tracking-wider;
}

#hero {
  background-image: url("../public/assets/bg_boat.jpg");
  background-position: 60%;
}

#design {
  background-image: url("../public/assets/bg_waters.jpg");
}