@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  scroll-behavior: smooth;
}

p {
  @apply px-5 md:p-0 text-[15px] md:text-[18px] text-left mt-4 sm:mt-6 lg:mt-10 tracking-wide max-w-[900px] lg:min-w-[900px];
}

h2 {
  @apply text-3xl md:text-4xl font-semibold lg:font-bold tracking-tight px-2;
}

h3 {
  @apply text-[20px] font-semibold text-center text-orange-400 mt-4 tracking-tight px-2;
}

#hero {
  background-image: url("../public/assets/bg_boat.jpg");
  background-position: 56% 48%;
}

#design {
  background-image: url("../public/assets/bg_waters.jpg");
}